<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Vue To Do List</title>
  </head>
  <body>

    <div id='root'>

      <div class="wrapper">
        <!-- Header -->
        <header>
          <div class="logo">
            <img src="img/Logo.png" alt="">
          </div>
          <div class="my-input">
            <input @keyup.13='addToDo' v-model='todo' placeholder='Nuovo Todo' type="text">
            <button @click='addToDo'>Aggiungi</button>
          </div>
        </header>

        <!-- Main -->
        <main>
          <div class="todo-list">
            <ul v-if='todoList.length > 0'>
              <li v-for='(key, index) in todoList'>
                {{ key }}
                <i @click='removeToDo(index)' class="fas fa-times"></i>
              </li>
            </ul>

            <h2 v-else>Nessun Todo !</h2>
          </div>
        </main>
      </div>

      
      
    </div>

    
    <!-- Script -->
    <script type="text/javascript" src="javascript/main.js"></script> 
    <!-- Script -->
  </body>
</html>

